/* === Google Font Import - Poppins === */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  height: 100vh;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  background: #f2f2f2;
}

section{
  position: relative;  
  height: 450px;
  width: 1075px;
  display: flex;
  align-items: center;
}

.swiper{
  width: 950px;
}

.card{
  position: relative;
  background: #fff;
  border-radius: 20px;
  margin: 20px 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.card::before{
  content: "";
  position: absolute;
  height: 40%;
  width: 100%;
  background: rgb(44, 43, 43);
  border-radius: 20px 20px 0 0;
}

.card .card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  position: relative;
  z-index: 100;
}

section .card .image{
  height: 140px;
  width: 140px;
  
  border-radius: 50%;
  padding: 3px;
  background: rgb(44, 43, 43);
}

section .card .image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #fff;
}

.card .media-icons{
  position: absolute;
  top: 10px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card .media-icons i{
  color: #fff;
  opacity: 0.6;
  margin-top: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.card .media-icons i:hover{
  opacity: 1;
}

.card .name-profession{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  color: black;
} 

.name-profession .name{
  font-size: 20px;
  font-weight: 600;
}

.name-profession .profession{
  font-size:15px;
  font-weight: 500;
  
}

.card .rating{
  display: flex;
  align-items: center;
  margin-top: 18px;
  
}

.card .rating i{
  font-size: 18px;
  margin: 0 2px;
  color: rgb(255, 230, 0);
}

.card .button{
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.card .button button{
  background: rgb(44, 43, 43);
  outline: none;
  border: none;
  color: #fff;
  padding: 8px 22px;
  border-radius: 20px;
  font-size: 14px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.button button:hover{
  background: rgb(44, 43, 43);
}

.swiper-pagination{
  position: absolute;
}

.swiper-pagination-bullet{
  height: 7px;
  width: 26px;
  border-radius: 25px;
  background: rgb(44, 43, 43);
}

.swiper-button-next, .swiper-button-prev{
  opacity: 0.7;
  color: rgb(44, 43, 43);
  transition: all 0.3s ease;
}
.swiper-button-next:hover, .swiper-button-prev:hover{
  opacity: 1;
  color: rgb(44, 43, 43);
}

@media only screen and (max-width: 576px) {
  .container{
    max-width: 340px !important;
  }
  section .card .image{
    height: 60px;
    width: 60px;
    
    border-radius: 50%;
    padding: 3px;
    background: rgb(44, 43, 43);
  }
  
  
  
  
  .card .media-icons i:hover{
    opacity: 1;
  }
  .rating i{
    font-size: 10px !important;
  }
}

.dark{
  background-color: rgb(44, 43, 43);
  color: white;
}

.info{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2px;
  justify-content: center;
}
.b1,.b2,.b3{
  width: 25%;
  height: 500px;
  padding: 20px;
}
.b1{
  background-color: rgb(238, 58, 58);
}
.b2{
  background-color: rgb(62, 62, 241);
}
.b3{
  background-color: rgb(55, 168, 55);
}
.header{
  color:white;
  font-weight: 500;
  font-size: 20px;
  
}
.body p{
  color:white;
  
}
@media only screen and (max-width: 1210px) {
  .b1,.b2,.b3{
    width: 99% !important;
    max-height: 1000px;
  }
}
